* {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Header*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px -20px rgb(120,100,109);
    z-index: 9999;
}
.navbar .nav{
    max-width: 1200px;
    min-width: 1200px;
    display: flex;
    justify-content: space-between  ;
}
.navbar .left-nav{
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
    top:10px
    
}
.location .location-select{
    width:180px;
    padding:10px;
    margin-left: 50px;
    font-size: 15px;
    border: none;
}
.right-nav .nav-list{
    display: flex;
    align-items: center;
}
.right-nav .nav-list li{
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
}
.right-nav .nav-list .nav-items{
    display: flex;
    align-items:center;
    height: 50px;
    cursor:pointer;
}
/*Body*/
.restaurants .container{
    max-width: 1200px;
    position: relative;
    padding-top: 40px;
    top:100px;
    left:100px;
}
.restaurant-list{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    justify-content: center;
}
.restaurant-list .resto-card{
    margin-top: 30px;
    display: grid;
    justify-content: center;
}
.restaurant-list .resto-list{
    border: 2px solid #966d6d;
    border-radius: 5px;
}

.restaurant-list .resto-card:hover{
    transform: scale(0.95);
}
.restaurant-list .resto-list:hover{
    border: 2px solid #137a56;
    border-radius: 5px;
}
.resto-link{
    text-decoration: none;
}
.item-content .resto-name .name{
    font-size: 25px;
} 
.item-content .resto-name .food-items{
    color: gray;
}
.info-div .rating{
    background-color: #0fc62a;
    width:80px;
    padding: 0px;
    color: #ffffff;
}

/*Footer*/
.footer .footer-content{
    height:200px;
    background-color: #02060c;
    position: relative;
    padding-top: 40px;
    top: 100px;
    max-height:fit-content;
    color: #ffffff;
    padding-left:100px ;
}
.footer .footer-list{
    padding: 10px;
  
}
.footer .footer-content{
    display: grid;
    grid-template-columns: repeat(3,33%);
}
.footer-heading li{
    list-style-type: none;
}
.footer-heading .footer-item{
    font-size: 15px;
}
